[Unit]
Description=Virtual keyboard daemon (vkbdd) for RetroPie
After=local-fs.target

[Service]
Type=simple
ExecStartPre=-rm -f /tmp/vkbdd.fifo
ExecStart=/usr/local/sbin/vkbdd -u pi 

[Install]
WantedBy=multi-user.target
